APP_ENV=local

LOKI_URL=http://loki:3100
LOKI_PUSH_URL=http://loki:3100/loki/api/v1/push

TEMPO_URL=http://tempo:3200
TEMPO_OTLP_GRPC_URL=tempo:4317

PROMETHEUS_URL=http://prometheus:9090
API_GATEWAY_METRICS_TARGET=host.docker.internal:8080
CATALOG_SERVICE_METRICS_TARGET=host.docker.internal:8081
ORDER_SERVICE_METRICS_TARGET=host.docker.internal:8082
